.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      hsla(0, 0%, 100%, 0.502),
      hsla(0, 0%, 100%, 0.502)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: hsl(0, 79%, 72%);
  border: none;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled{
  cursor: not-allowed;
  background-color: hsl(0, 93%, 83%);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: hsl(180, 100%, 25%);
  cursor: pointer;
  border: none;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}